* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(./images/bg-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container {
  width: 85%;
  max-width: 140rem;
  margin-inline: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  margin: 10rem 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 8rem;
}

.content-image {
  width: 100%;
}

.title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 4.2rem;
}

.content-feature {
  color: #fff;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.text {
  font-size: 2rem;
  font-family: "Open Sans";
}

.btn {
  border: none;
  background-color: #fff;
  font-size: 1.6rem;
  color: hsl(257, 40%, 49%);
  padding: 1.5rem 6rem;
  border-radius: 3rem;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all ease 0.2s;
}

.btn:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

.social-icons {
  font-size: 2.2rem;
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.icon {
  color: #fff;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0.8rem;
  cursor: pointer;
  transition: all ease 0.2s;
}

.icon:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

/**** MEDIA QUERIES ****/

/* Laptop */
@media (width <= 1236px) {
  body {
    background-image: url(./images/bg-mobile.svg);
  }

  .content {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-inline: auto;
  }

  .content-feature {
    padding-top: 3rem;
  }
}

/* Tablet */
@media (width <= 768px) {
  .logo {
    width: 20rem;
  }
  .content {
    width: 100%;
    gap: 4rem;
  }

  .content-feature {
    text-align: center;
    align-items: center;
  }

  .social-icons {
    justify-content: center;
  }
}

/* Phone */
@media (width <= 480px) {
  .content {
    margin: 7rem 0;
  }
  .title {
    font-size: 3rem;
  }

  .text {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
