* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
}

.profile-card {
  background-color: hsl(0, 0%, 12%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem 3rem;
  border-radius: 10px;
  text-align: center;
  width: 20%;
  color: hsl(0, 0%, 100%);
}

.profile-photo-container {
  width: 25%;
  margin-inline: auto;
}

.profile-photo {
  width: 100%;
  border-radius: 100%;
}

.profile-name {
  margin-top: 1.5rem;
  font-size: 2.2rem;
  font-weight: 600;
}

.profile-location {
  color: hsl(75, 94%, 57%);
  margin-top: 0.8rem;
  font-size: 1.2rem;
}

.profile-role {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.list-items {
  list-style: none;
  margin-top: 2rem;
}

.list-item {
  width: 90%;
  margin-inline: auto;
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  transition: all 0.2s ease;
  overflow: hidden;
}

.list-item:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

.list-item:not(:first-child) {
  margin-top: 1.4rem;
}

.list-link {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4rem;
}

/*** Media queries ***/

@media (width < 1400px) {
  .profile-card {
    width: 30%;
    padding: 2rem 1rem;
  }
}

@media (width < 1100px) {
  .profile-card {
    width: 45%;
  }
}

@media (width < 650px) {
  .profile-card {
    width: 90%;
  }
}
